body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 1.5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-content img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
}

.main-content {
    max-width: 400px;
    width: 100%;
    background-color: white;
    padding: 16px 16px 50px 16px;
    gap: 20px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.main-content h1 {
    font-size: 1.4rem;
    margin-bottom: 25px;
}

.main-content p {
    font-size: 0.95rem;
    color: hsl(220, 15%, 55%);
}